body, html {
  margin: 0px;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  --nav-height: 100px;
}

nav {
  height: var(--nav-height);
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
}

main {
  width: calc(100% - 200px);
  min-height: calc(100% - calc(var(--nav-height) + 200px));
  padding: 100px;
}

pre:has(code) {
  background: #ededed;
  padding: 40px;
  border-radius: 5px;
}

code {
  white-space: pre-wrap;
  width: 100%;
}